services:
  app:
    build: .
    user: "1000:1000"
    container_name: crypto_bot
    env_file:
      - .env
    environment:
      SQLITE_PATH: /app/data/trading.sqlite
      APP_BASE_DIR: /app
      FORCE_SQLITE: "1"
    volumes:
      - ./.env:/app/.env
      - ./trading.log:/app/trading.log
      - ./data:/app/data
    restart: unless-stopped
    command: ["python", "main.py"]
